/**/
main{
  text-align: center;
}
*{
  margin: 0;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
   user-select: none;
}
#botao{
    width: 80%;
    height: 80px;
    margin-top: 60%;
    border-radius: 6vh; 
}
.infoEspecificacoes1{
  text-align: left;
  margin: 0;
  padding-top: 1vh;
  padding-left: 1vh;

}
.topo{
  position: fixed;
  top: 0;
  background-color: #c55353;
  height: 9vh;
  width: 100%;
}
.infoTecnica1{
  text-align: center;
  padding-top: 1vh;
}

.infoCamera{
  text-align: left;
  padding-top: 1vh;
  padding-left: 1vh;
}
.container{
  width: 100%;
  height: 100%;
}
.imagem{
  position: fixed;
  top: 10vh;
  left: 3vh;
  height: 30vh;
  width: 90%;
}
.tituloProduto{
  border-top: solid 0.1px hsl(0, 5%, 92%);
  position:  fixed;
  top: 40vh;
  left: 3vh;
  width: 90%;
  height: 5vh;
}
.informacaoAp{
  position: fixed;
  top: 52vh;
  left: 1.5vh;
  height: 37vh;
  width: 54vh;
  border: solid 0.1px #cecece;
  background-color: whitesmoke;
}
button{
  border: none;
}
.botoes{
  position: fixed;
  width: 95%;
  top: 47vh;
  left: 1.5vh;
  height: 5vh;

}
.botao2{
  position: fixed;
  width: 33%;
  height: 5vh;
  left: 18vh;
}
.botao1{
  position: fixed;
  width: 33%;
  height: 20%;

}

#fichaTc{
  height: 25%;
}
.btnDados{
  width: 100%;
  height: 100%;
  border: 0.1px solid #c55353;
  background-color: hsl(0, 58%, 59%)
}
.botao3{

  position: fixed;
  width: 33.6%;
  height: 5vh;
  left: 36vh;
}

.centro{
  width: 100%;
  height: 100vh;
}
.titleProd{
  text-align: center;
}
img{
  width: 100%;
  height: 30vh;
}
.rodape{
  position: fixed ;
  bottom: 0;
  height: 9vh;
  width: 100%;
  background-color: #c55353; 

}



.btnDados:link{
  outline: 0;
   
}

.btnDados:focus{
  outline: 0;
  background-color: hsl(0, 39%, 45%); 
}

#botao:link{
  outline: 0;
}

#botao:focus{
  outline: 0;
  background-color: #acacac;
}